<h1>イベント一覧</h1>

<ul class="list-group">
  <% @events.each do |event| %>
    <%= link_to event, class: "list-group-item list-group-item-action" do %>
      <h5><%= event.name =%></h5>
    <% end %>
  <% end %>
</ul>